<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/header :: header(title='Update Manager', activePage='dashboard')}"></th:block>

<body>
<div class="container mt-5">
    <div class="card p-4 shadow">
        <h2 class="mb-4 text-center">Update Manager</h2>
        <form th:action="@{/managers/{id}/update(id=${manager.id})}" th:object="${manager}" method="post">
            <div class="form-group">
                <label for="name" class="font-weight-bold">Manager Name:</label>
                <input type="text" id="name" name="name" th:field="*{name}" class="form-control" placeholder="Enter Manager Name">
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-lg">Save</button>
                <a href="/" class="btn btn-secondary btn-lg ml-2">Cancel</a>
            </div>
        </form>
    </div>
</div>

<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>