<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/header :: header(title='Configuration', activePage='config')"></th:block>

<body>
<div class="container mt-5">
  <h2 class="text-center mb-4">Update Configuration</h2>

  <form action="#" th:action="@{/config}" th:object="${config}" method="post">
    <!-- Hidden field for the configuration ID -->
    <input type="hidden" th:field="*{id}"/>

    <div class="form-group">
      <label for="allowedUserIds">Allowed User IDs</label>
      <input type="text" id="allowedUserIds" th:field="*{allowedUserIds}" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="dealStagesIds">Deal Stages IDs</label>
      <input type="text" id="dealStagesIds" th:field="*{dealStagesIds}" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="managerPointsNormative">Manager Points Normative</label>
      <input type="number" id="managerPointsNormative" th:field="*{managerPointsNormative}" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="managerPointsCallCoefficient">Manager Points Call Coefficient</label>
      <input type="number" id="managerPointsCallCoefficient" th:field="*{managerPointsCallCoefficient}" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="managerPointsTestPeriodCoefficient">Manager Points Test Period Coefficient</label>
      <input type="number" id="managerPointsTestPeriodCoefficient" th:field="*{managerPointsTestPeriodCoefficient}" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="managerPointsBonusUnder3">Bonus Under 3</label>
      <input type="number" id="managerPointsBonusUnder3" th:field="*{managerPointsBonusUnder3}" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="managerPointsBonusEqual3">Bonus Equal to 3</label>
      <input type="number" id="managerPointsBonusEqual3" th:field="*{managerPointsBonusEqual3}" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="managerPointsBonusOver4">Bonus Over 4</label>
      <input type="number" id="managerPointsBonusOver4" th:field="*{managerPointsBonusOver4}" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-secondary">Save</button>
  </form>
</div>

<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>