<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/header :: header(title='Manager Deals', activePage='deals')"></th:block>

<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">Manager Deals</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Deal ID</th>
                <th>Owner</th>
                <th>Date</th>
                <th>Person</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="deal : ${deals}">
                <td th:text="${deal.id}"></td>
                <td th:text="${deal.owner.name}"></td>
                <td th:text="${#temporals.format(deal.updatedDealStageDate, 'dd.MM.yyyy HH:mm')}"></td>
                <td th:text="${deal.personName}"></td>
                <td>
                    <button class="btn btn-danger" th:attr="data-id=${deal.id}" onclick="deleteDeal(this)">
                        Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"></th:block>


<script>
    function deleteDeal(button) {
        var dealId = $(button).data('id');
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/deal?id=' + dealId,
                    type: 'DELETE',
                    success: function(result) {
                        Swal.fire(
                            'Deleted!',
                            'Your deal has been deleted.',
                            'success'
                        ).then(() => {
                            location.reload();
                        });
                    },
                    error: function() {
                        Swal.fire('Error', 'There was a problem deleting the deal.', 'error');
                    }
                });
            }
        });
    }
</script>

</body>
</html>